name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]

    steps:
      - name: Install devdeps
        run: sudo apt-get install -y libffi-dev cmake
      - name: install hcephes
        run: bash <(curl -fsSL https://raw.githubusercontent.com/limix/hcephes/master/install)
      
      - uses: actions/checkout@v3
      # Used to host cibuildwheel
      - uses: actions/setup-python@v3

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.13.1

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
         PKG_NAME: pycephes
         CIBW_SKIP: "cp27-* cp34-* cp35-* *i686*"
         CIBW_BEFORE_BUILD_LINUX: ci/before-build-linux
         CIBW_BEFORE_BUILD_MACOS: ci/before-build-macos

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl
